@model SchoolManagementSystem.Models.Class
@{
	ViewData["Title"] = "Class";
}
<form method="post" asp-action="AddClass">

	<label>Student Name</label>
	<input type="hidden" asp-for="ClassId" />
	<input type="text" asp-for="ClassName" />
	<br />

	

	<button type="submit">Submit</button>
</form>
@*@using(Html.BeginForm("AddStudent","Student",@FormMethod.Post))
{
	<lable>Student Name</lable>
	@Html.TextBoxFor(x=>x.StudentName);
}*@
